<h1>loading-lab.bar</h1>
<ul>
    <li>
        {{#link-to "loading-lab.bar.slow-model" }}loading-lab.bar.slow-model{{/link-to}}
    </li>
    <li>
        {{#link-to "loading-lab.bar.slow-model-no-custome" }}loading-lab.bar.slow-model-no-custome{{/link-to}}
    </li>
</ul>
{{outlet}}
