<h1>error-lab.bar</h1>
<ul>
    <li>
        {{#link-to "error-lab.bar.error-model" }}error-lab.bar.error-model{{/link-to}}
    </li>
    <li>
        {{#link-to "error-lab.bar.error-model-no-custome" }}error-lab.bar.error-model-no-custome{{/link-to}}
    </li>
</ul>
{{outlet}}
