
{{!-- Feel free to remove this! --}}
<ul>
    <li>
        {{#link-to "loading-lab" }}loading-lab{{/link-to}}
    </li>
    <li>
        {{#link-to "error-lab" }}error-lab{{/link-to}}
    </li>
    <li>
        {{#link-to "component-lab" }}component-lab{{/link-to}}
    </li>
    <li>
        {{#link-to "template-context" }}template-context{{/link-to}}
    </li>
    <li>
        {{#link-to "link-to-segment" 1}}link-to-segment{{/link-to}}
    </li>
</ul>
{{outlet}}
