<ul>
    <li>
        {{#link-to "component-lab.first-component" }}my-first-component{{/link-to}}
    </li>
    <li>
        {{#link-to "component-lab.second-component" }}my-second-component{{/link-to}}
    </li>
</ul>
{{outlet}}
